<!-- creator information -->
  <div class="uk-container" style="margin-top: 4em;">
    <h2 class="uk-heading-line uk-text-center"><span style="color: blue;">Creator</span></h2>

    <!-- 顔写真 -->
    <div style="text-align: center; margin-top: 2em;">
      <%= image_tag 'my_photo.jpg', class: "uk-img", width: "50%", alt: "my_photo", style: "border-radius: 50%;" %>
    </div>

    <!-- 個人データ -->
    <table class="uk-table uk-table-hover uk-table-divider">
      <tbody>
        <tr>
            <td>氏名</td>
            <td>平田智紀</td>
        </tr>
        <tr>
            <td>大学</td>
            <td>名古屋大学</td>
        </tr>
        <tr>
            <td>所属研究科</td>
            <td>情報学研究科</td>
        </tr>
        <tr>
            <td>出身</td>
            <td>愛知県</td>
        </tr>
        <tr>
            <td>Twitter</td>
            <td>@field_flat</td>
        </tr>
        <tr>
            <td>Instagram</td>
            <td>@tn.may24</td>
        </tr>
        <tr>
            <td>ひとこと</td>
            <td>
              サイトをご覧いただき<br>
              ありがとうございます！<br>
              ぜひValueを使って下さい！
            </td>
        </tr>
      </tbody>
    </table>

    <!-- Q & A -->

  </div>