<div class="uk-container">
  <h1 class="leaf">Valueの使い方(フリマ編)</h1>
  <p>
    要らなくなったものを売りたい！ちょっとお小遣いを稼ぎたい！
    そんな人はValueのフリマ機能を使ってものを売ってみましょう！
  </p>

  <h2 class="uk-heading-bullet uk-margin">1. 出品してみよう！</h2>
  まず，画面右上にあるメニューボタンを押して，<strong>「出品する」</strong>タブを
  押してみましょう．すると，以下のような画面が出てきます．
  <div style="text-align: center; margin: 2em 0;">
    <%= image_tag 'howto1.jpg', class: "uk-img" %>
  </div>

  続いて，商品のタイトル，説明，値段，出品型&依頼型，タグ，画像を入力します．<br>
  <strong>タイトル</strong>には，商品のタイトルを簡潔に書きます(例：微分積分学の教科書)．<br>
  <strong>説明</strong>には，その商品の具体的な説明を書いていきます．いつ購入したものか，どのくらい
  使っていたものか，ある程度綺麗なものか，特筆すべきことがあるかなど，詳しく書きましょう．<br>
  <strong>値段</strong>には，その商品の値段を書きます．基本的には，フリマ商品を出品する場合は「〇〇〇円」
  という形で書きましょう(円も忘れず書いてください)．<br>
  <strong>出品型&依頼型</strong>には，出品型か依頼型かを入力します．出品型とは，要らなくなったものを誰かに売るために
  出品するタイプのことを指し，依頼型とは，「誰かにこれをやってほしい」と依頼をするタイプのことを指します．
  出品型の場合，出品者が金銭報酬を，買取者が商品を受け取ることができます．
  依頼型の場合，出品者(依頼者)は金銭を支払う代わりに依頼を遂行してもらうことができ，買取者(承諾者)は依頼を遂行して金銭報酬を受け取ることができます．<br>
  <strong>タグ</strong>には，その商品のタグをつけます．その商品に関して適切なものを選んでください．<br>
  <strong>画像</strong>には，その商品の画像を貼ります．必須項目ではないので，画像がない場合は貼る必要はありません．<br><br>

  ここまで入力し終わったら，「出品する」ボタンを押しましょう！これで出品は完了です！
  あとは買い取ってくれる人が来るまで待ちましょう．

  <h2 class="uk-heading-bullet uk-margin">2. 購入されたら...</h2>
  <p>
    もし商品が購入されたら，メールで通知がいくようになっています(たまに迷惑メールに振り分けられてしまうので，こまめに迷惑メールもチェックしてください)．
    購入されているもの，もしくは購入しているものがあるときは「メニュー」の「取引中の商品」から取引をすることができます．
    <div style="text-align: center; margin: 2em 0;">
      <%= image_tag 'howto3.jpg', class: "uk-img" %>
    </div>
    取引中の商品に表示されている「メッセージ」ボタンを押して，取引相手とやり取りをしましょう．
    <strong>具体的には，「商品の受け渡し日時」，「商品の受け渡し場所」</strong>などを話合いましょう．
    <div style="text-align: center; margin: 2em 0;">
      <%= image_tag 'howto2.jpg', class: "uk-img" %>
    </div>
    日時・場所が決まったら実際に商品を受け渡しします．
  </p>

  <h2 class="uk-heading-bullet uk-margin">3. 商品の受け渡しが終わったら...</h2>
  <p>
    無事に商品の受け渡しが終わったら，お互いを評価しましょう．
    メッセージ画面に，「評価へ」というボタンがあるので，そこを押してください．以下のような画面が表示されると思います．
    <div style="text-align: center; margin: 2em 0;">
      <%= image_tag 'howto4.jpg', class: "uk-img" %>
    </div>
    その画面で，相手の評価をしましょう．取引に満足であれば感謝の言葉を述べましょう．もし万が一不満があれば，丁寧な言葉で
    その旨を伝えましょう．
    両者が評価を付けあったら，取引は終了です！お疲れ様でした。
  </p>


  <h1 class="leaf">Valueの使い方(依頼編)</h1>
  <p>
    Valueでは，掃除などを依頼をすることができます(その他にもいろんなことを依頼できます！ただ節度のある依頼を心がけてください)．
  </p>

  <h2 class="uk-heading-bullet uk-margin">1. 依頼してみよう！</h2>
  基本的にはフリマ編の使い方と同じです。
  まず，画面右上にあるメニューボタンを押して，<strong>「出品する」</strong>タブを
  押してみましょう．

  続いて，依頼のタイトル，説明，値段，出品型&依頼型，タグ，画像を入力します(ほぼフリマ型と一緒です)．<br>
  <strong>値段</strong>ですが，依頼型の場合は「〇〇時間〇〇円」という書き方をしても大丈夫です(分かりやすく書きましょう)．
  <strong>出品型&依頼型</strong>には，依頼型を選択します．
  <strong>画像</strong>には，その商品の画像を貼ります．必須項目ではないので，画像がない場合は貼る必要はありません．<br><br>

  ここまで入力し終わったら，「出品する」ボタンを押しましょう！これで依頼は完了です！

  <h2 class="uk-heading-bullet uk-margin">2. 承認されたら...</h2>
  <p>
    もし依頼が承認されたら，メールで通知がいくようになっています(たまに迷惑メールに振り分けられてしまうので，こまめに迷惑メールもチェックしてください)．
    まず「メニュー」の「取引中の商品」を押します．
    取引中の商品に表示されている「メッセージ」ボタンを押して，取引相手とやり取りをしましょう．
    日時・場所が決まったら実際に依頼を遂行します．
  </p>

  <h2 class="uk-heading-bullet uk-margin">3. 依頼の遂行が終わったら...</h2>
  <p>
    依頼の遂行が終わったら，お互いを評価しましょう．
    その画面で，相手の評価をしましょう．満足であれば感謝の言葉を述べましょう．もし万が一不満があれば，丁寧な言葉で
    その旨を伝えましょう．
    両者が評価を付けあったら，取引は終了です！お疲れ様でした。
  </p>

</div>

<style>
.leaf {
  position: relative;
  color: #158b2b;
  font-size: 24px;
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;
}
.leaf:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 150px;
  height: 58px;
  border-radius: 50%;
  border: 5px solid #a6ddb0;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
</style>