<div class="uk-container">
  <h1 class="uk-heading-bullet uk-margin">利用規約</h1>
  <p>
    この度は、大学内価値売買サービス「Value」を利用してくださり、ありがとうございます。
    このサービスを利用していただく上で、以下のことを遵守していただくようお願いします。
    遵守できない場合、又は違反した場合はこのサービスの利用を停止させていただきます。
    また利用規約に反して被害を被ったとしても、本サービスを責任を負いかねます。
  </p>

  <h3 class="uk-heading-bullet uk-margin">取引アイテムについて</h3>
  <p>
    このサービスでは、「法に抵触するアイテム」、「出席の代筆、又はそれに近い行為」、「当人又は第三者の個人情報が含まれているアイテム」の
    出品を禁止しております。もしそのような商品を見かけた場合は、「お問い合わせ」から報告いただくようお願いします。
  </p>
  <p>
    この依頼を出品していいかどうか不明な場合は、一度お問い合わせよりその旨を相談してから出品してください。
  </p>

  <h3 class="uk-heading-bullet uk-margin">不正な取引について</h3>
  <p>
    取引が開始されたのに相手から返事が返ってこない、直接の取引の際にお金を渡されなかったなど、取引において
    不正が発生したら、まずお問い合わせから相談してください。不正者への警告・場合によっては利用停止の措置をいたします。
    また取引した後に、商品が欠陥品であることを知った場合も、まずはお問い合わせから連絡をお願いします。
  </p>

  <h3 class="uk-heading-bullet uk-margin">モラルある行動を</h3>
  <p>
    このサービスは、各大学の学生が迷惑行為を行わない前提でサービスを提供しています。もし迷惑行為が続いた場合、このサービス自体を
    閉鎖する可能性があります。そうならないためにも、モラルある行動をお願いします。
  </p>

  <br><br>

  <p>
    value代表・平田智紀
  </p>

</div>