<% provide(:title, "Forgot password") %>

<div class="uk-container">
  <%= form_for(:password_reset, url: password_resets_path) do |f| %>
    <div class="uk-margin">
      <%= f.label :email, "大学メールアドレス(Email)", class:"uk-form-label", for:"form-stacked-text-email" %>
      <%= f.email_field :email, class:"uk-input", id:"form-stacked-text-email", type:"email", placeholder:"aaa.bbb@*.mbox.nagoya-u.ac.jp" %>
    </div>

    <div class="uk-margin" style="text-align: center;">
      <%= f.submit "送信する", class: "uk-button uk-button-primary" %>
    </div>
  <% end %>
</div>