<h1>Value アカウント有効化手続き</h1>

<p><%= @user.name %>様、</p>

<p>
この度はValueに登録してくださり、ありがとうございます。
<%= link_to "こちらのリンクからアカウント有効化手続きを行なってください。", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %><br>
もしくは以下のリンクにアクセスしてください。<br><br>
<%= edit_account_activation_url(@user.activation_token, email: @user.email)  %>
</p>

<p>
Valueは大学内価値売買サービスです。<br>
要らなくなった教科書を売ったり、一人暮らしの自宅の掃除を依頼したりすることができます。<br>
Valueを通じて価値を売買し、日々の生活をもっと便利にしましょう！<br><br><br>
</p>

<p>
Value(<%= root_url %>)<br>
お問い合わせは以下のメールアドレスへ<br>
tomonori4565@icloud.com
</p>