<p><%= @to.name %>様、</p>

<p>
<%= @from.name %>様が、商品「<%= @micropost.title %>」の評価を完了いたしました！<br>
まだ評価をしていない場合は、取引の評価をして取引を終了しましょう。
</p>

<p>
Valueは大学内価値売買サービスです。<br>
要らなくなった教科書を売ったり、一人暮らしの自宅の掃除を依頼したりすることができます。<br>
Valueを通じて価値を売買し、日々の生活をもっと便利にしましょう！<br><br><br>
</p>

<p>
Value<br>
お問い合わせは以下のメールアドレスへ<br>
tomonori4565@icloud.com
</p>