<h2>お問い合わせが届きました。</h2>

<p>
  管理者様へ<br>
  <%= @user.name %>様(<%= @user.email %>)から以下のようなお問い合わせが届きました。
</p>

<p>
  -------------------<br>
  <%= @content %><br><br>
</p>

<p>
Value(<%= root_url %>)<br>
お問い合わせは以下のメールアドレスへ<br>
tomonori4565@icloud.com
</p>