<!-- navbar -->
<nav class="uk-navbar-container" uk-navbar uk-sticky>
<div class="uk-navbar-left">
  <ul class="uk-navbar-nav">
    <li>
      <a href="#">
        <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
      </a>
      <div class="uk-navbar-dropdown">
        <ul class="uk-nav uk-navbar-dropdown-nav">
          <li><a href="#">新規登録</a></li>
          <li><a href="#">ログイン</a></li>
          <li><a href="#">出品する</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
</nav>
