<div class="uk-container" style="margin-top: 2em;">
  <h2 class="uk-heading-bullet">Valueとは？</h2>
  <p>
    　Valueは、各大学内でのコミュニティで使えるフリマアプリです。<br>
  </p>

  <h2 class="uk-heading-line uk-text-center"><span style="color: blue;">Valueを使うメリット</span></h2>
  <div style="margin-top: 4em;">
    <h3 class="uk-heading-bullet">簡単出品＆大学内で手渡し!</h3>
    <p>
      　出品方法は, 写真を撮って値段を設定し, 商品の説明を書くだけ！また基本的に大学構内で手渡しにより取引をするので,
      商品を綺麗に放送して郵便局に持っていくという手間が省けます。
    </p>
  </div>

  <div style="margin-top: 4em;">
    <h3 class="uk-heading-bullet">モノ以外も売買できる！</h3>
    <p>
      　Valueは取引に「モノ」以外に「価値」を売買できます。例えば, 「1時間部屋の掃除をしてくれたら1500円」, 
      「手料理を振舞ってくれたら2000円」 , 「500円で勉強会に参加してみませんか？」といった, 価値の売買も行えます。
    </p>
  </div>

  <div style="margin-top: 4em;">
    <h3 class="uk-heading-bullet">クレジットカードは必要なし！</h3>
    <p>
      　基本的に報酬は現金により行われるので, クレジットカードを新規作成したりする必要はありません。 
      またキャッシュレスによる取引が不安という方にも安心して取引していただけます。
    </p>
  </div>

  <div style="margin-top: 4em;">
    <h3 class="uk-heading-bullet">手数料はなんと無料！</h3>
    <p>
      　他のフリマアプリでは必ず手数料がかかってしまいます。ですがFMUは, なんと手数料が「かかりません」！これはFMUの最大の魅力です。
    </p>
  </div>
</div>