<div class="uk-container" style="margin-top: 3em;">
  <h2 class="uk-heading-bullet">最近出品されたアイテム</h2>

  <div class="uk-text-center" uk-grid>
    <% if @microposts.any? %>
      <%= render @microposts %>
    <% end %>
  </div>

  <h2 class="uk-heading-bullet">おすすめのアイテム</h2>

  <div class="uk-text-center" uk-grid>
    <% if @microposts.any? %>
      <%= render @microposts %>
    <% end %>
  </div>
</div>