<div class="uk-container">
<!-- 何かお探しですか？ -->
<form class="uk-form-stacked">
  <div class="uk-text-center">
    <div class="uk-form-controls uk-margin-top ">
      <input class="uk-input" id="form-stacked-text" type="text" placeholder="検索したいアイテムを入力してください。">
    </div>
    <button class="uk-button uk-button-default uk-margin-top">検索</button>
  </div>
</form>
</div>